.wrapper {
    margin-top:5vh;
    overflow: hidden;
    border-radius: 15px;
 
}
.table{
    margin:0;padding:0;
}
.wrapper .table tr select{border:none;padding:0;color:#000;background-color:transparent;}
.wrapper .table tr select option:first-child{color:green;}
.table_head th{background-color:#d9d9d9;font-weight: 500;margin-left:20px;}
.table_head th i{padding:0px 16px;}
@media only screen and (min-width: 768px) {
    .table {
        table-layout: fixed;
        max-width: 100% !important;
   }
}
tr,td,th,thead,tr{
    border:none;
}
td:first-child{
    padding-left:20px;
}
.table td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (max-width: 767px) {
   /* Force table to not be like tables anymore */
   /* Hide table headers (but not display: none;
   , for accessibility) */
   /* Label the data */
    table, thead, tbody, th, td, tr {
        display: block;
   }
    thead tr, tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
   }
    td {
       /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
   }
    td:before {
       /* Now like a table header */
        position: absolute;
       /* Top/left values mimic padding */
        top: 8px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
   }
    .table td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
   }
    #event td:nth-of-type(1):before {
        content: "S No.";
   }
   #event td:nth-of-type(2):before {
        content: "Name";
   }
   #event td:nth-of-type(3):before {
        content: "Category";
   }
   #event td:nth-of-type(4):before {
        content: "Start Date";
   }
   #event td:nth-of-type(5):before {
        content: "End Date";
   }
   #event td:nth-of-type(6):before {
        content: "Location (City)";
   }
   #event td:nth-of-type(7):before {
    content: "Status";
}
#event td:nth-of-type(8):before {
    content: "Actions";
}
#dashboard td:nth-of-type(1):before {
    content: "S No.";
}
#dashboard td:nth-of-type(2):before {
    content: "Name";
}
#dashboard td:nth-of-type(3):before {
    content: "Total Booth";
}
#dashboard td:nth-of-type(4):before {
    content: "Start Date";
}
#dashboard td:nth-of-type(5):before {
    content: "End Date";
}
#dashboard td:nth-of-type(6):before {
    content: "Location (City)";
}
#dashboard td:nth-of-type(7):before {
content: "Status";
}
#dashboard td:nth-of-type(8):before {
content: "Actions";
}
#team td:nth-of-type(1):before {
    content: "S No.";
}
#team td:nth-of-type(2):before {
    content: "Name";
}
#team td:nth-of-type(3):before {
    content: "Email";
}
#team td:nth-of-type(4):before {
    content: "Designation";
}
#team td:nth-of-type(5):before {
    content: "Contact";
}
#team td:nth-of-type(6):before {
    content: "Assign Action";
}
#team td:nth-of-type(7):before {
content: "Status";
}
#team td:nth-of-type(8):before {
content: "Actions";
}

}
